.block2_title {
    text-align: center;
    margin-top: 0.1rem;
    font-size: 32px;
    font-weight: bold;
}

.block2_txt {
    text-align: center;
    font-size: 20px;
    color: var(--dark_grey);
}

.cards1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin-top: 3rem;

}

.block2_nazvanie {
    margin-top: 1.2rem;
    font-size: 24px;
    font-weight: 700;
}