.preview {
  background-image: url(/assets/images/preview.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120rem;
  height: 27.2rem;
  text-align: center;

  .preview_txt {
    padding-top: 10rem;
  }

  .preview_title {
    font-weight: 600;
    font-size: 3.5rem;
  }

  .preview_desc {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .preview_home {
    font-weight: 500;
  }

  .prev_logo {
    margin-top: -2rem;
  }
}