:root {
  --main-color: red;
  --yellow: #FFF3E3;
  --orange: #B88E2F;
  --grey: #9F9F9F;
  --light_grey: #F4F5F7;
  --dark_grey: #616161;
  --black: black;
  --white: #FFFFFF;
  --red: #E97171;
  --blue: #2EC1AC;
  --stars: #F2C94C;
  --light_yellow: #FCF8F3;

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: #e3e3e3;
  --color-black-100: #000;
  --color-black-3A: #3A3A3A;

  /**  часто встречается Шрифты */
  --font-family-title: "Open Sans";
}