<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Layout</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container_blog">
    <div class="main-content">
      <div class="post">
        <picture>
          <source srcset="assets/images/post1-sm.webp" media="(max-width: 480px)">
          <img src="assets/images/post1.webp" alt="" class="post-img">
        </picture>
        <div class="post-meta">
          <svg class="icon_blbase" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="#808080">
            <path
              d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z" />
          </svg>
          <span class="name_icon_blbase">
            Admin
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080">
            <path
              d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z" />
          </svg>
          <span class="name_icon_blbase"> 14 Oct 2022</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080"
            style="transform: rotate(135deg); transform-origin: center;">
            <path
              d="M17.63 5.84C17.27 5.33 16.67 5 16 5H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h11c.67 0 1.27-.34 1.63-.85L22 12l-4.37-6.16zM8.5 12c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5S8.5 13.38 8.5 12z" />
          </svg>
          <span class="name_icon_blbase"> Wood</span>
        </div>
        <div class="zag_blbase">Going all-in with millennial design</div>
        <p class="text_blbase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut
          labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
          sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed
          faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit
          libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean
          euismod elementum.</p>
        <u><a href="#" class="read_blbase">Read more</a></u>
      </div>

      <div class="post">
        <picture>
          <source srcset="assets/imges/post2-sm.webp" media="(max-width: 480px)">
          <img src="assets/images/post2.webp" alt="Post Image" class="post-img">
        </picture>
        <div class="post-meta">
          <svg class="icon_blbase" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="#808080">
            <path
              d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z" />
          </svg>
          <span class="name_icon_blbase">
            Admin
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080">
            <path
              d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z" />
          </svg>
          <span class="name_icon_blbase"> 14 Oct 2022</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080"
            style="transform: rotate(135deg); transform-origin: center;">
            <path
              d="M17.63 5.84C17.27 5.33 16.67 5 16 5H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h11c.67 0 1.27-.34 1.63-.85L22 12l-4.37-6.16zM8.5 12c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5S8.5 13.38 8.5 12z" />
          </svg>
          <span class="name_icon_blbase"> Wood</span>
        </div>
        <div class="zag_blbase">Exploring new ways of decorating</div>
        <p class="text_blbase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut
          labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
          sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed
          faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit
          libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean
          euismod elementum.</p>
        <u><a href="#" class="read_blbase">Read more</a></u>
      </div>

      <div class="post">
        <picture>
          <source srcset="assets/imges/post3-sm.webp" media="(max-width: 480px)">
          <img src="assets/images/post3.webp" alt="Post Image" class="post-img">
        </picture>
        <div class="post-meta">
          <svg class="icon_blbase" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="#808080">
            <path
              d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z" />
          </svg>
          <span class="name_icon_blbase">
            Admin
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080">
            <path
              d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z" />
          </svg>
          <span class="name_icon_blbase"> 14 Oct 2022</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080"
            style="transform: rotate(135deg); transform-origin: center;">
            <path
              d="M17.63 5.84C17.27 5.33 16.67 5 16 5H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h11c.67 0 1.27-.34 1.63-.85L22 12l-4.37-6.16zM8.5 12c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5S8.5 13.38 8.5 12z" />
          </svg>
          <span class="name_icon_blbase"> Wood</span>
        </div>
        <div class="zag_blbase">Exploring new ways of decorating</div>
        <p class="text_blbase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut
          labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere
          sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed
          faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit
          libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean
          euismod elementum.</p>
        <u><a href="#" class="read_blbase">Read more</a></u>
      </div>
    </div>

    <div class="sidebar">
      <div class="search-box">
        <input type="text" placeholder="" class="search-input">
        <div class="search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="stepa"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </div>
      </div>

      <div class="categ_blbase">Categories</div>
      <div class="categor">
        <div class="cat ">Crafts <span class="count">2</span></div>
        <div class="cat ">Design <span class="count">8</span></div>
        <div class="cat ">Handmade <span class="count">7</span></div>
        <div class="cat">Interior <span class="count">1</span></div>
        <div class="cat">Wood <span class="count">6</span></div>
      </div>

      <div class="recent-title">Recent Posts</div>

      <div class="recent-post">
        <picture>
          <source srcset="assets/images/rp1-sm.webp" media="(max-width: 480px)">
          <img class="img1_recent_post" src="assets/images/rp1.webp" alt="thumb" width="105">
        </picture>
        <div>
          <div class="recent_tx">Going all-in with millennial design</div>
          <div class="recent_date">03 Aug 2022</div>
        </div>
      </div>

      <div class="recent-post">
        <picture>
          <source srcset="assets/images/rp2-sm.webp" media="(max-width: 480px)">
          <img class="img2_recent-post" src="assets/images/rp2.webp" alt="thumb" width="105">
        </picture>
        <div>
          <div class="recent_tx">Exploring new ways of decorating</div>
          <div class="recent_date">03 Aug 2022</div>
        </div>
      </div>

      <div class="recent-post">
        <picture>
          <source srcset="assets/images/rp3-sm.webp" media="(max-width: 480px)">
          <img class="img3_recent-post" src="assets/images/rp3.webp" alt="thumb" width="130">
        </picture>
        <div>
          <div class="recent_tx">Handmade pieces that took time to make</div>
          <div class="recent_date">03 Aug 2022</div>
        </div>
      </div>

      <div class="recent-post">
        <picture>
          <source srcset="assets/images/rp4-sm.webp" media="(max-width: 480px)">
          <img class="img4_recent-post" src="assets/images/rp4.webp" alt="thumb">
        </picture>
        <div>
          <div class="recent_tx">Modern home in Milan</div>
          <div class="recent_date">03 Aug 2022</div>
        </div>
      </div>

      <div class="recent-post">
        <picture>
          <source srcset="assets/images/rp5-sm.webp" media="(max-width: 480px)">
          <img class="img5_recent-post" src="assets/images/rp5.webp" alt="thumb">
        </picture>
        <div>
          <div class="recent_tx">Colorful office redesign</div>
          <div class="recent_date">03 Aug 2022</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>