<div class="block1">
    <div class="block1_block">
        <div class="block1_txt">
            <div class="block1_mini_zag">
                New Arrival
            </div>
            <div class="title">
                Discover Our New Collection
            </div>
            <div class="block1_block_osnova">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
            </div>
            <button class="block1_butt">
                BUY NOW
            </button>
        </div>
    </div> 
</div>
