<div class="block3_shop">
    <div class="block3_shop_bl">
        <div class="block3_shop_logo">
            <img src="assets/imges/hq.svg" alt="">
        </div>
        <div class="block3_shop_texts">
            <div class="block3_shop_zag">High Quality</div>
            <div class="block3_shop_osn">crafted from top materials</div>
        </div>
    </div>

    <div class="block3_shop_bl">
        <div class="block3_shop_logo">
            <img src="assets/imges/wp.svg" alt="">
        </div>
        <div class="block3_shop_texts">
            <div class="block3_shop_zag">Warranty Protection</div>
            <div class="block3_shop_osn">Over 2 years</div>
        </div>
    </div>

    <div class="block3_shop_bl">
        <div class="block3_shop_logo">
            <img src="assets/imges/fs.svg" alt="">
        </div>
        <div class="block3_shop_texts">
            <div class="block3_shop_zag">Free Shipping</div>
            <div class="block3_shop_osn">Order over 150 $</div>
        </div>
    </div>

    <div class="block3_shop_bl">
        <div class="block3_shop_logo">
            <img src="assets/imges/247sup.svg" alt="">
        </div>
        <div class="block3_shop_texts">
            <div class="block3_shop_zag">24 / 7 Support</div>
            <div class="block3_shop_osn">Dedicated support</div>
        </div>
    </div>
</div>
