<div class="block4">
    <div class="block4_1">
        <div class="block4_title">
            50+ Beautiful rooms inspiration
        </div>
        <div class="block4_text">
            Our designer already made a lot of beautiful prototipe of rooms that inspire you
        </div>
        <button class="butt3">
            Explore More
        </button>
    </div>
    <div class="block4_2">
        <div class="block4_2_1">
            <div class="block4_text_2_1">
                <div class="block4_txt1_2_1">01 — Bed Room</div>
                <div class="block4_txt2_2_1">Inner Peace</div>
            </div>
        </div>
        <div class="strelka">
            <img src="assets/imges/strelka.svg" alt="" class="block4_pic1">
        </div>
    </div>
    <div class="block4_3">
        <div class="block4_3_1">
            <picture>
                <source media="(max-width: 480px)" srcset="assets/images/bl4_2-sm.webp">
                <img src="assets/images/bl4_2.webp" alt="" class="block4_pic2">
            </picture>
            <picture>
                <source media="(max-width: 480px)" srcset="assets/images/bl4_3-sm.webp">
                <img src="assets/images/bl4_3.webp" alt="" class="block4_pic3">
            </picture>
        </div>
        <div class="krug_strelka">
            <img src="assets/imges/krug.svg" alt="" class="krug">
        </div>
        <div class="block4_3_2">
            <div class="orbor">
                <div class="bepis">
                    <div class="okrug"></div>
                </div>
            </div>
            <div class="krugi"></div>
            <div class="krugi"></div>
            <div class="krugi"></div>
        </div>
    </div>
</div>