<div class="block2">
    <div class="block2_title">
        Browse The Range
    </div>
    <div class="block2_txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="cards1">
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_1-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/block2_1.webp" alt="Dining" class="p2">
            </picture>
            <div class="block2_nazvanie">Dining</div>
        </div>
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_2-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/block2_2.webp" alt="" class="p2">
            </picture>
            <div class="block2_nazvanie">Living</div>
        </div>
        <div class="card1">
            <picture>
                <source srcset="assets/images/bl2_3-sm.webp" media="(max-width: 480px)">
                <img src="assets/images/block2_3.webp" alt="" class="p2">
            </picture>
            <div class="block2_nazvanie">Bedroom</div>
        </div>
    </div>
</div>
</div>