<div class="card_cont">
    <div class="card">
        <div class="card__discount">@@discount</div>
        <div class="card__discount1">@@discount1</div>
        <img src="@@img.webp" alt="" class="card__image">
        <div class="card__overlay">
            <button class="card__butt-cart">Add to cart</button>
            <div class="card__actions">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 256 256"
                        style="fill:#FFFFFF;">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <g transform="scale(10.66667,10.66667)">
                                <path
                                    d="M18,2c-1.65685,0 -3,1.34315 -3,3c0.00061,0.18815 0.01892,0.37583 0.05469,0.56055l-7.11523,4.15039c-0.54194,-0.45909 -1.22919,-0.71102 -1.93945,-0.71094c-1.65685,0 -3,1.34315 -3,3c0,1.65685 1.34315,3 3,3c0.70916,-0.00139 1.3949,-0.25396 1.93555,-0.71289l7.11914,4.15234c-0.03577,0.18472 -0.05408,0.3724 -0.05469,0.56055c0,1.65685 1.34315,3 3,3c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3c-0.70983,0.00093 -1.39634,0.25353 -1.9375,0.71289l-7.11719,-4.15234c0.03577,-0.18472 0.05408,-0.3724 0.05469,-0.56055c-0.00061,-0.18815 -0.01892,-0.37583 -0.05469,-0.56055l7.11523,-4.15039c0.54194,0.45909 1.22919,0.71102 1.93945,0.71094c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3z">
                                </path>
                            </g>
                        </g>
                    </svg><span>Share</span>
                <span>⇄ Compare</span>
                <span>♡ Like</span>
            </div>
        </div>
        <div class="card__body">
            <div class="card__title">@@title</div>
            <div class="card_text">@@text</div>
            <div class="card_sale">
                <div class="card__price">@@price</div>
                <s class="card__disc">@@disc</s>
            </div>
        </div>
    </div>
</div>