<div class="filters">
    <div class="filter_l">
        <div class="filt">
            <div class="filtering"><img src="assets/imges/filtering.svg" alt=""></div>
            <div class="filter_name">
                Filter
            </div>
        </div>
        <div class="4round"><img src="assets/imges/4round.svg" alt=""></div>
        <div class="list"><img src="assets/imges/list.svg" alt=""></div>
        <div class="vertical_line"></div>
        <div class="filter_show">Showing 1–16 of 32 results</div>
    </div>
    <div class="filter_2">
        <div class="filter_2_show">
            <div class="filter_name">Show</div>
            <div class="filter_2_show_input">
                <input type="text" class="show" placeholder="16">
            </div>
        </div>
        <div class="filter_2_show">
            <div class="filter_name">Short by</div>
            <div class="filter_input"><input type="text" class="short" placeholder="Default"></div>
        </div>

    </div>
</div>