<footer>
    <div class="footer_verh">
        <div class="footer_left">
            <div class="finf">
                <div class="footer_name">
                    Furniro.
                </div>
                <div class="footer_left_desc">
                    <div class="footer_txt">
                        400 University Drive Suite 200 Coral Gables,
                        <br>FL 33134 USA
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_right">
            <div class="st">
                <div class="footer_title">Links</div>
                <div class="footer_txt1">
                    <a href="../index.html">Home <br></a>
                    <a href="../shop.html">Shop <br></a>
                    <a href="../blog.html">About <br></a>
                    <a href="../contact.html">Contact <br></a>
                </div>
            </div>
            <div class="st">
                <div class="footer_title">Help</div>
                <div class="footer_txt1">
                    Payment Options <br>
                    Returns <br>
                    Privacy Policies
                </div>
            </div>
            <div class="st">
                <div class="footer_title">Newsletter</div>
                <form>
                    <div class="footer_mail"><input type="mail" name="mail1" id="mail1"
                            placeholder="Enter Your Email Address">
                        <button type="submit" class="footer_butt">SUBSCRIBE</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <hr class="footer_line_down">
    <div class="footer_niz">
        2023 furniro. All rights reverved
    </div>
</footer>